
<!-- reuse <div class" -->
<div class="span7 offset4 text-center stolen-surfbox">

<h1 class="custom-font-1"> <span class="title-word">MUSIC</span> affects the <span class="title-word">BRAIN</span></h1>




<h2 class="custom-font-2">and the brain effects the <span class="title-word">BODY</span></h2>

	<%= link_to("Launch App", "#", :class => 'btn btn-primary btn-large') %>

</div>