
<!-- reuse <div class" -->
<div class="span7 offset4 text-center stolen-surfbox">

<h1 class="custom-font-1"> <span class="title-word">MUSIC</span> <span class="custom-font-2"> affects the </span> <span class="title-word">BRAIN</span></h1>


<h2 class="custom-font-2">and the brain affects the </h2> 
<h2 class="custom-font-2"><span class="title-word">BODY</span></h2>

	<%= link_to("Move Me", "#", :class => 'btn btn-primary btn-large') %>

</div>