<h1>My Pics</h1>
<div class="my-wrapper">

	<% @pics.each do |pic| %>
		<div class="box stolen-surfbox">
			<h2>
				Hour <%= pic.hour %>
			</h2>

			<h3>
				I feel <%= pic.emotion %>
			</h3>

			<p>
				I learned that <%= pic.learned %>
			<p>
		</div>
	<% end %>
</div>
