<h1 class="custom-font-2">Logging My Pics</h1>
<div class="my-wrapper text-center">

	<% @pics.each do |pic| %>
		<div class="span3 stolen-surfbox text-center">
			<h2>
				Hour <%= pic.hour %>
			</h2>

			<h3 class="custom-font-1"> 
				I feel <%= pic.emotion %>
			</h3>

			<p>
				I learned that <%= pic.learned %>
			<p>
		</div>
	<% end %>
</div>
